<html>
    <head>
        <title>This is the create post page</title>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Create Post!</h1>
            </div>
            <div id="content">
            	<form method = "post">
            	  Textbook title:<br>
            	  <input type="text" name="textbook_title"><br>
            	  Textbook author: <br>
            	  <input type="text" name="textbook_author"><br><br>
            	  <input type="submit" value="Submit">
            	</form>
            </div>
        </div>
    </body>
</html>
