{% extends "template.html" %}
{% block title %}BookSwap - Sign Up{% endblock %}
{% block content %}

<div>
    <h1>Recover Your Password</h1>
    <br>
    <div class="col-md-4">
        <form method="post" action="/forgot_password" style="width: 90%;">
            <div class="form-group">
                <label for="usr">Email:</label>
                <input type="email" class="form-control" name="email" id="usr" autofocus="true">
            </div>
             <button type="submit" class="btn btn-default" onclick="">Send Recovery Email</button>
        </form>
    </div>
</div>

{% endblock %}
