{% extends "template.html" %}
{% block title %}BookSwap - Home{% endblock %}
{% block content %}
<!-- Main jumbotron -->

<style>
    #jumbotron {
        background-image: url("http://eddylu.com/images/books_edited.jpg");
        background-size: 100%;
    }
    
    #index_left {
        float: left;
        width: 49%;
        border-radius: 8px;
        height: 300px;
        
        background-image: url("http://eddylu.com/images/books3_edited.jpg");
        background-size: 100%;
        
        padding-left: 20px;
    }
    
    #index_right {
        float: right;
        width: 49%;
        height: 300px;
        border-radius: 8px;
        
        background-image: url("http://eddylu.com/images/books2_edited.jpg");
        background-size: 100%;
        
        text-align: right;
        padding-right: 20px;
    }
    
    #join_box_header {
        color: #333333;
    }
</style>

<div class="jumbotron" id="jumbotron">
  <h1 style="text-align: center;">BookSwap</h1>
  <h2 style="text-align: center;">Textbook exchange for students, by students</h2>
  <!--<p style="text-align: center;">We were sick of textbook exchange services that didn't quite fit the bill, so we made our own.</p>-->
</div>

<div id="index_left">
    <h1>Login to Your Account</h1>
    <br>

    <form method="post" action="/login" style="width: 90%;">
        <div class="form-group">
          <label for="usr">Email:</label>
          <input type="text" class="form-control" id="usr" name="email" placeholder="Enter Email" autofocus="true">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter Password">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-default" onclick="">Log In</button>
        </div>
        <div class="col-md-6">
            <a href="{{ url_for('forgot_password') }}"><div><h4>Forgot Your Password?</h4></div></a>
        </div>
    </form>
</div>

<a style="display: block" href="{{ url_for('signup') }}">
    <div id="index_right">
        <div id="join_box_header"><h1>No account?</h1></div>
        <h1>Join us today!</h1>
    </div>
</a>

<script>

    function init() {

        /*intialize positions*/

        //jumbotron
        var jumbotron = document.getElementById('jumbotron');
        var jumbotron_Intensity = 0;
        jumbotron.style.opacity = jumbotron_Intensity;
        jumbotron.style.visibility = 'visible';
        var jumbotron_Position = -10;
        jumbotron.style.position = 'relative';
        jumbotron.style.left = jumbotron_Position + 'px';

        //index_left
        var index_left = document.getElementById('index_left');
        var index_left_Intensity = 0;
        index_left.style.opacity = index_left_Intensity;
        index_left.style.visibility = 'visible';
        var index_left_Position = -10;
        index_left.style.position = 'relative';
        index_left.style.left = index_left_Position + 'px';

        //index_right
        var index_right = document.getElementById('index_right');
        var index_right_Intensity = 0;
        index_right.style.opacity = index_right_Intensity;
        index_right.style.visibility = 'visible';
        var index_right_Position = -10;
        index_right.style.position = 'relative';
        index_right.style.left = index_right_Position + 'px';

        /*intervals*/

        //jumbotron
        setTimeout(run_jumbotron_IntervalFunction, 0);
        function run_jumbotron_IntervalFunction() {
            var run_jumbotron_Interval = setInterval(jumbotron_IntervalFunction, 1);
        }
        function jumbotron_IntervalFunction() {
            if (jumbotron_Intensity < 1) {
                jumbotron_Intensity += .005;
                jumbotron_Position += .05;
                jumbotron.style.opacity = jumbotron_Intensity;
                jumbotron.style.left = jumbotron_Position + 'px';
            }
            else {
                clearInterval(run_jumbotron_Interval);
            }
        }

        //index_left
        setTimeout(run_index_left_IntervalFunction, 800);
        function run_index_left_IntervalFunction() {
            var run_index_left_Interval = setInterval(index_left_IntervalFunction, 1);
        }
        function index_left_IntervalFunction() {
            if (index_left_Intensity < 1) {
                index_left_Intensity += .005;
                index_left_Position += .05;
                index_left.style.opacity = index_left_Intensity;
                index_left.style.left = index_left_Position + 'px';
            }
            else {
                clearInterval(run_index_left_Interval);
            }
        }

        //index_right
        setTimeout(run_index_right_IntervalFunction, 1600);
        function run_index_right_IntervalFunction() {
            var run_index_right_Interval = setInterval(index_right_IntervalFunction, 1);
        }
        function index_right_IntervalFunction() {
            if (index_right_Intensity < 1) {
                index_right_Intensity += .005;
                index_right_Position += .05;
                index_right.style.opacity = index_right_Intensity;
                index_right.style.left = index_right_Position + 'px';
            }
            else {
                clearInterval(run_index_right_Interval);
            }
        }

    }
    window.onload = init;

</script>

{% endblock %}