{% extends "template.html" %}
{% block title %}BookSwap - Posts{% endblock %}
{% block content %}
<h1>{{ title }} IS FOR SALE!</h1>
<br>

<div id="content">
    
    <button onclick="goBack()">Go Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>

    <br><br>

    Post page for <b>{{ title }}</b><br>
    Posted by <b>{{ user.email }}</b>
    
    <br>
    <br>
    
    <form method="post">
    <input type="submit" name="submit" value="Delete this post">

</div>
{% endblock %}