<html>
    <head>
        <title>This is the post page</title>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>{{ title }} IS FOR SALE!</h1>
            </div>
            <div id="content">
                Post page for {{ title }} <br>
                Posted by {{ user }} <br>
                <form method="post">
                <input type="submit" name="submit" value="Delete this post">
            </div>
        </div>
    </body>
</html>
