{% extends "template.html" %}
{% block title %}BookSwap - Posts{% endblock %}
{% block content %}


<div class="search">
<form id="search_form" method="post" action="/search">

    <input id="search_input" type=text name=search placeholder="Search by Title" value="{{request.form.search}}" style="width: 400px;"></br>
    <div class="actions"><input type=submit value="Search"></div>

</form>

<script>

  setInterval(
    function updateList() {

      var searchListTbody = document.getElementById('searchList_tbody');
      while (searchListTbody.rows.length> 0) {
        searchListTbody.deleteRow(0);
      }

      var input = document.getElementById('search_input').value;

      {% for post in posts %}

      var tableRef = document.getElementById('searchList_table').getElementsByTagName('tbody')[0];
      var newRow   = tableRef.insertRow(tableRef.rows.length);
      var newCell0  = newRow.insertCell(0);
      var newCell1  = newRow.insertCell(1);
      var newTitle  = document.createTextNode('{{post.textbook_title}}');

      var newTitle = document.createElement('a');
      newTitle.setAttribute('href', '{{ url_for('show_post', post_id=post.post_id)}}');
      newTitle.appendChild(document.createTextNode('{{post.textbook_author}}'));
      newCell0.appendChild(newTitle);

      var newAuthor  = document.createTextNode('{{post.textbook_title}}');

      newCell0.appendChild(newTitle);
      newCell1.appendChild(newAuthor);

      {% endfor %}

    }
  , 100);

    updateList();

</script>

</div>
<div id="content">
    {% if search_terms %}
        <div class="container pale-blue leftbar border-blue">
            <p>Currently displaying posts based on the following search term: {{ search_terms }}</p>
        </div>
    {%  endif %}
    {{ pagination.info }}
    {{ pagination.links }}
    <table id="searchList_table">
      <thead>
        <tr>
          <th>Textbook Title</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody id="searchList_tbody"></tbody>
    </table>
    {{ pagination.links }}
</div>
{% endblock %}
