{% extends "template.html" %}
{% block title %}BookSwap - Posts{% endblock %}
{% block content %}
<div class="search">
<form method="post" action="/search">
    <input type=text name=search placeholder="Search by Title" value="{{ request.form.search }}" style="width: 400px;"></br>
    <div class="actions"><input type=submit value="Search"></div>
</form>
</div>
<div id="content">
    {{ pagination.info }}
    {{ pagination.links }}
    <table>
      <thead>
        <tr>
          <th>Textbook Title</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>
            <td><a href="{{ url_for('show_post', post_id=post.post_id)}}">{{post.textbook_title}}</a></td>
            <td>{{post.textbook_author}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ pagination.links }}
</div>
{% endblock %}
