{% extends "template.html" %}
{% block title %}BookSwap - Sign Up{% endblock %}
{% block content %}

<style>
    #create_account_div {
        margin-top: 5%;
        
        float: left;
        width: 49%;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        height: 300px;
        
        color: #FFFFFF;
        
        background-image: url("http://eddylu.com/images/books5_flipped.jpg");
        background-size: 100%;
        
        padding-left: 20px;
    }
    
    #password_requirements {
        margin-top: 5%;
        
        float: left;
        width: 49%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        height: 300px;
        
        background-image: url("http://eddylu.com/images/books5_edited.jpg");
        background-size: 100%;
        
        font-weight: 500;
        
        padding-left: 20px;
    }
    
    #password_requirements_ul {
        margin-top: 20px;
    }
    
    #password_requirements_ul li {
        padding: 8px;
        font-weight: 500;
    }
</style>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<div id="create_account_div">
    <h1>Create Account</h1>
    <br>
    <form method="post" action="/create_account" style="width: 90%;">
        <div class="form-group">
            <label for="usr">Email:</label>
            <input type="email" class="form-control" name="email" id="usr" autofocus="true">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="password" id="pwd">
        </div>
         <button type="submit" class="btn btn-default" onclick="">Create Account</button>
    </form>
</div>

<div id="password_requirements">
    <h2 style="margin-top: 30px; margin-left: 10px;">Password Requirements</h2>
    <ul id="password_requirements_ul">
        <li>Lowercase character required</li>
        <li>Uppercase character required</li>
        <li>Number required</li>
        <li>Password must be at least 8 alphanumeric characters long</li>
        <li>Password must be at most 30 alphanumeric characters long</li>
    </ul>
</div>

<script>

    function init() {
        
        /*intialize positions*/

        //create_account_div
        var create_account_div = document.getElementById('create_account_div');
        var create_account_div_Intensity = 0;
        create_account_div.style.opacity = create_account_div_Intensity;
        create_account_div.style.visibility = 'visible';
        var create_account_div_Position = -10;
        create_account_div.style.position = 'relative';
        create_account_div.style.left = create_account_div_Position + 'px';

        //password_requirements
        var password_requirements = document.getElementById('password_requirements');
        var password_requirements_Intensity = 0;
        password_requirements.style.opacity = password_requirements_Intensity;
        password_requirements.style.visibility = 'visible';
        var password_requirements_Position = -10;
        password_requirements.style.position = 'relative';
        password_requirements.style.left = password_requirements_Position + 'px';

        /*intervals*/

        //create_account_div
        setTimeout(run_create_account_div_IntervalFunction, 0);
        function run_create_account_div_IntervalFunction() {
            var run_create_account_div_Interval = setInterval(create_account_div_IntervalFunction, 1);
        }
        function create_account_div_IntervalFunction() {
            if (create_account_div_Intensity < 1) {
                create_account_div_Intensity += .005;
                create_account_div_Position += .05;
                create_account_div.style.opacity = create_account_div_Intensity;
                create_account_div.style.left = create_account_div_Position + 'px';
            }
            else {
                clearInterval(run_create_account_div_Interval);
            }
        }

        //password_requirements
        setTimeout(run_password_requirements_IntervalFunction, 0);
        function run_password_requirements_IntervalFunction() {
            var run_password_requirements_Interval = setInterval(password_requirements_IntervalFunction, 1);
        }
        function password_requirements_IntervalFunction() {
            if (password_requirements_Intensity < 1) {
                password_requirements_Intensity += .005;
                password_requirements_Position += .05;
                password_requirements.style.opacity = password_requirements_Intensity;
                password_requirements.style.left = password_requirements_Position + 'px';
            }
            else {
                clearInterval(run_password_requirements_Interval);
            }
        }

    }
    window.onload = init;

</script>

{% endblock %}