{% extends "template.html" %}
{% block title %}BookSwap - Sign Up{% endblock %}
{% block content %}
<h1>Create a new account. Please enter your login information.</h1>
<br>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<form method="post" action="/create_account">
    <div class="form-group">
        <label for="usr">Email:</label>
        <input type="email" class="form-control" name="email" id="usr">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" name="password" id="pwd">
    </div>
     <button type="submit" class="btn btn-default" onclick="">Create Account</button>
</form>
{% endblock %}