{% extends "template.html" %}
{% block title %}BoookSwap - Sign Up{% endblock %}
{% block content %}

<div>
    <h1>Update Your Password</h1>
    <br>
    <div class="col-md-4">
        <form method="post" action="/reset-password" style="width: 90%;">
            <div class="form-group">
                <label for="pwd">New Password:</label>
                <input type="password" class="form-control" name="password" id="pwd">
                <input type="hidden" name="token" value="{{ token }}">
            </div>
             <button type="submit" class="btn btn-default" onclick="">Update Password</button>
        </form>
    </div>
</div>

{% endblock %}
