{% extends "template.html" %}
{% block title %}BookSwap - User Page{% endblock %}
{% block content %}

<style>
    #post_button {
        float: left;
        width: 49%;
        height: 200px;
        border-radius: 8px;
        
        border: none;
        
        background-image: url("http://eddylu.com/images/books4.jpg");
        background-size: 100%;
        
        text-align: left;        
        padding-left: 30px;
    }
    
    #advanced_search {
        float: right;
        width: 49%;
        height: 200px;
        border-radius: 8px;
        
        background-image: url("http://eddylu.com/images/books_cropped.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        
        text-align: left;
        padding-left: 30px;
    }
    
    #advanced_search_header {
        color: #333333;
    }
    
    #user_page_left {
        float: left;
        width: 10%;
    }
    
    #user_page_right {
        float: right;
        width: 85%;
    }

    #posts_table {
        margin-top: 35px;
        width: 100%;
    }

    #posts_table_th {
        background-color: #666666;
        color: #FFFFFF;
        height: 30px;
        font-size: 14px;
        padding: 8px;
        border: 1px solid #A3A3A3;
    }

    #posts_table_td {
        height: 30px;
        font-size: 14px;
        padding: 8px;
        border: 1px solid #A3A3A3; 
    }
    
    #posts_table {
        border: 1px solid #A3A3A3; 
    }

    #posts_table tr:nth-child(even) {
        background: #EDEDED;
    }
</style>

<h1>Welcome! <small>Come here to create new posts.</small></h1>
<br>
<div id="content">
       
    <form method="post" action="{{ url_for('show_user_page', user_id=user_id) }}">
        <button id="post_button" type="submit"><h1>Post an ad</h1></button>
    </form>

    <a style="display: block" href="{{ url_for('show_all_posts')}}">
        <div id="advanced_search">
            <div id="advanced_search_header"><h1>Search by Title</h1></div>
        </div>
    </a>

    <div id="user_page_bottom">

        <div id="user_page_left" style="margin-top: 35px;">

            <form method="get" action="{{ url_for('show_user_page', user_id=user_id) }}">
                {% if sorting == 'MostRecent' %}
                    <input type="radio" name="sorting" value="MostRecent" checked> Most Recent<br>
                    <input type="radio" name="sorting" value="OldestFirst"> Oldest First<br>
                {% else %}
                    <input type="radio" name="sorting" value="MostRecent"> Most Recent<br>
                    <input type="radio" name="sorting" value="OldestFirst" checked> Oldest First<br>
                {% endif %}
        
                <br>

              <button type="submit" class="btn btn-default">Apply Filter</button>
            </form>
    
            <br><br>
    
        </div>

        <div id="user_page_right" style="margin-top: 35px;">

            {{ pagination.info }}
            {{ pagination.links }}
            <table id="posts_table">
              <thead>
                <tr id="posts_table_tr">
                  <th id="posts_table_th">Textbook Title</th>
                  <th id="posts_table_th">Author</th>
                </tr>
              </thead>
              <tbody>
                {% for post in posts %}
                  <tr id="posts_table_tr">
                    <td id="posts_table_td"><a href="{{ url_for('show_post', post_id=post.post_id)}}">{{post.textbook_title}}</a></td>
                    <td id="posts_table_td">{{post.textbook_author}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {{ pagination.links }}
    
            <br>
    
            <form method="get" action="{{ url_for('edit_account', user_id=user_id) }}">
              <button type="submit" class="btn btn-default">Edit Account</button>
            </form>
        </div>
    
    </div>

</div>

<script>

    function init() {

        /*intialize positions*/

        //post_button
        var post_button = document.getElementById('post_button');
        var post_button_Intensity = 0;
        post_button.style.opacity = post_button_Intensity;
        post_button.style.visibility = 'visible';
        var post_button_Position = -10;
        post_button.style.position = 'relative';
        post_button.style.left = post_button_Position + 'px';

        //advanced_search
        var advanced_search = document.getElementById('advanced_search');
        var advanced_search_Intensity = 0;
        advanced_search.style.opacity = advanced_search_Intensity;
        advanced_search.style.visibility = 'visible';
        var advanced_search_Position = -10;
        advanced_search.style.position = 'relative';
        advanced_search.style.left = advanced_search_Position + 'px';

        //user_page_bottom
        var user_page_bottom = document.getElementById('user_page_bottom');
        var user_page_bottom_Intensity = 0;
        user_page_bottom.style.opacity = user_page_bottom_Intensity;
        user_page_bottom.style.visibility = 'visible';
        var user_page_bottom_Position = -10;
        user_page_bottom.style.position = 'relative';
        user_page_bottom.style.left = user_page_bottom_Position + 'px';

        /*intervals*/

        //post_button
        setTimeout(run_post_button_IntervalFunction, 0);
        function run_post_button_IntervalFunction() {
            var run_post_button_Interval = setInterval(post_button_IntervalFunction, 1);
        }
        function post_button_IntervalFunction() {
            if (post_button_Intensity < 1) {
                post_button_Intensity += .005;
                post_button_Position += .05;
                post_button.style.opacity = post_button_Intensity;
                post_button.style.left = post_button_Position + 'px';
            }
            else {
                clearInterval(run_post_button_Interval);
            }
        }

        //advanced_search
        setTimeout(run_advanced_search_IntervalFunction, 800);
        function run_advanced_search_IntervalFunction() {
            var run_advanced_search_Interval = setInterval(advanced_search_IntervalFunction, 1);
        }
        function advanced_search_IntervalFunction() {
            if (advanced_search_Intensity < 1) {
                advanced_search_Intensity += .005;
                advanced_search_Position += .05;
                advanced_search.style.opacity = advanced_search_Intensity;
                advanced_search.style.left = advanced_search_Position + 'px';
            }
            else {
                clearInterval(run_advanced_search_Interval);
            }
        }

        //user_page_bottom
        setTimeout(run_user_page_bottom_IntervalFunction, 1600);
        function run_user_page_bottom_IntervalFunction() {
            var run_user_page_bottom_Interval = setInterval(user_page_bottom_IntervalFunction, 1);
        }
        function user_page_bottom_IntervalFunction() {
            if (user_page_bottom_Intensity < 1) {
                user_page_bottom_Intensity += .005;
                user_page_bottom_Position += .05;
                user_page_bottom.style.opacity = user_page_bottom_Intensity;
                user_page_bottom.style.left = user_page_bottom_Position + 'px';
            }
            else {
                clearInterval(run_user_page_bottom_Interval);
            }
        }

    }
    window.onload = init;

</script>

{% endblock %}