<html>
    <head>
        <title>This is the user's home page</title>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>User homepage!</h1>
                <h2>Come here to create new posts</h2>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('show_user_page', user_id=user_id) }}">

                  <input type="submit" value="Click here to post a new ad"/>
                </form>
            </div>
        </div>
    </body>
</html>
 